# Passwords and stuff
secrets/

# Generated/loaded data
data/*
resume-parts/*
letter-parts/*

# Contains private data rn
coverletter.tex
cover-letters/*

# Output stuff
output/*
*.aux
*.log
*.out
*.pdf

# IDE Stuff
.vscode/
